/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

/* App Container */
#app {
  max-width: 600px;
  margin: 20px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Tabs Navigation */
.tabs {
    position: sticky;
    top: 0;
    z-index: 100; /* Ensures it stays above other content */
    background-color: white; /* Matches the background color */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* margin-bottom: 20px; */
}

.tab-button {
  background-color: #046bd2;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0;
}

.tab-button.active {
  background-color: #034c91;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* Form Elements */
input,
textarea,
button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #046bd2;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #034c91;
}

h1 {
  margin-bottom: 10px;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: auto;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  text-align: center;
  width: 100%;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content ul {
  text-align: left;
  margin: 20px 0;
}

.modal-content button {
  padding: 10px 20px;
  /* margin: 10px; */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}

/* Vocabulary List Styles */
#filters {
  margin-bottom: 15px;
}

.vocab-item {
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.remove-vocab-btn {
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 30px;
  background-color: red;
}

.vocab-item img {
  display: block;
  margin-top: 10px;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.speak-icon {
  cursor: pointer;
}

/* Fixed Button */
.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #046bd2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.fixed-button:hover {
  background-color: #034c91;
}

/* Button Container */
.button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.button-container button {
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  background-color: #046bd2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #034c91;
}

/* Learning Container */
#learning-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  position: relative;
}

/* Top Button (Stop Review) */
.top-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.top-button:hover {
  background-color: #c9302c;
}

/* Progress Bar */
#progress-bar-container {
  width: 100%;
  background-color: #e9ecef;
  border-radius: 5px;
  margin: 20px 0;
  position: relative;
}

#progress-bar {
  height: 20px;
  background-color: #28a745;
  width: 0;
  border-radius: 5px;
  transition: width 0.3s ease;
}

#progress-text {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
}

/* Vocabulary Display */
#vocab-image-container img {
  max-width: 100px;
  margin: 10px auto;
  display: block;
}

#vocab-textt {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

#vocab-descriptionn {
  margin-bottom: 20px;
  text-align: left;
  white-space: pre-line;
  
}

/* Answer Options */
#answer-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#answer-options button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#answer-options button:hover {
  background-color: #0056b3;
}

.answer-btn {
  text-transform: capitalize;
}

/* Selected Answer Style */
.answer-btn.selected {
  background-color: #28a745 !important;
  color: white !important;
  border: 2px solid #1c7430;
}

/* Submit Button */
#submit-answer-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffc107;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit-answer-btn:hover {
  background-color: #e0a800;
}

/* Voice Selector Container */
#voice-selector-container {
  margin-bottom: 15px;
}

#voice-selector {
  width: auto;
  padding: 5px;
  margin-left: 10px;
}


/* Popup styling */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  text-align: center;
}

.hidden {
  display: none;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
#vocabTextarea {
  overflow: auto;
}


/* -------------------------------------------------------------------------- */
/*                                   Lesson                                   */
/* -------------------------------------------------------------------------- */
/* Lesson Modal Styles */
.modal-lession {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
}

.modal-lession.show {
  display: flex; /* Make modal visible */
}

.modal-lession .modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  text-align: center;
  position: relative;
  max-height: 90%;
  overflow: auto;
}

.modal-content-btn {
  display: flex;
}

/* .modal-content-btn > div {
  width: 50%;
} */

.modal-lession .modal-content h2 {
  margin-bottom: 20px;
}

.modal-lession .modal-content ul {
  text-align: left;
  margin: 20px 0;
  padding-left: 20px;
}

.modal-lession .modal-content ul li {
  margin-bottom: 10px;
}

.modal-lession .modal-content button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #046bd2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-lession .modal-content button:hover {
  background-color: #034c91;
}

.modal-lession .lesson-top-button:hover {
  color: #000;
}
.modal-lession .lesson-top-button {
  width: 30%;
}

.lesson-item {
  margin: 10px 0;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.lesson-item h3 {
  margin-bottom: 5px;
}

.lesson-item p {
  margin-bottom: 10px;
}

.view-lesson-btn {
  background-color: #046bd2;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.view-lesson-btn:hover {
  background-color: #034c91;
}

.hidden {
  display: none;
}

/* -------------------------------------------------------------------------- */
/*                                    badge                                   */
/* -------------------------------------------------------------------------- */

/* Badge Style */
.practice-badge {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff6347;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  animation: shake 1s ease-in-out infinite;
  z-index: 1000;
}

/* Badge Number Style */
.review-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff4500;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Shake Animation */
@keyframes shake {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
}

/* Overview Card Styling */
.overview-card {
  width: 350px;
  border-radius: 10px;
  background: linear-gradient(135deg, #4c96d7, #7ab8f5);
  color: white;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

/* Card Header */
.card-header h2 {
  font-size: 1.5rem;
  margin: 0;
}

.card-header .total-vocab {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 10px 0;
}

/* Card Footer */
.card-footer {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 15px;
}

/* Horizontal Word Level Table */
.word-level-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.word-level-table th,
.word-level-table td {
  padding: 8px;
  text-align: center;
  font-size: 0.9rem;
  color: #ffffff;
}

.word-level-table th {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

.word-level-table td {
  background-color: rgba(255, 255, 255, 0.1);
}


/* Button Styling */
.start-learning-btn {
  display: inline-block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(135deg, #00c853, #64dd17);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

/* Hover Effects */
.start-learning-btn:hover {
  background: linear-gradient(135deg, #64dd17, #00c853);
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

/* Active State */
.start-learning-btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

